<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MyTravels{% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />

        {% endblock %}
    </head>
    <body>
{%  include('::navtop.html.twig') %}
        <div class="container">
            {%  block content %}

            {% endblock %}
        </div>


        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>

        {% endblock %}
    </body>
</html>
