{% extends '::base.html.twig' %}

{%  block content %}
    <div class="text-center">
        <h3>Users Travels</h3>

        <p>Travel1  city, country, date</p>

        <p>Travel2</p>

        <p>Travel3</p>
    </div>
{% endblock %}