{% extends '::base.html.twig' %}

{%  block content %}
    <h3 class="text-center">Add new location!</h3>
    <div class="">
        <ol>
            <li>Click on the map to place the marker.</li>
            <li>Click to marker to enable form.</li>
            <li>Insert data and save your new travel.</li>
            <li>Your travel is saved on your personal map!</li>
        </ol>
    </div>
    <div id="map"></div>
    <div id="saveForm" class="hidden">
        <form>
        <table>
           <p class="hidden" id="user_id">{{ app.user.id }}</p>
            <tr><td>City:</td> <td><input type='text' id='city'required/> </td> </tr>
            <tr><td>Country:</td> <td><input type='text' id='country' required/> </td> </tr>
            <tr><td>Date:</td> <td><input type='date' id='date'/> </td> </tr>
            <tr><td>Type:</td> <td><select id='type'>
                        <option value='holiday' SELECTED>Holiday</option>
                        <option value='work'>Work</option>
                    </select> </td></tr>
            <tr><td></td><td><input type='submit' value='Save' id="submit"/></td></tr>
        </table>
        </form>
    </div>
    <div class="hidden bg-success" id="successMessage">Location saved</div>



{% endblock %}

    {% block additionalscripts %}
        <script src="{{ asset('js/map.js') }}"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAk7HtqFKd7XU7U1_nefAUQvqdJSLSj0Q&callback=initMap">
        </script>

    {% endblock %}